table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  font-weight: 100;
  color: #333333;
}
th, td {
  height: 50px;
  width: 50px;
}

td {
  font-weight: bold;
}

.even {
  background-color: aqua;
}

.today {
  background-color: rgb(255, 255, 107);
}

.saturday {
  background-color: #CCF9FF;
}

.sunday {
  background-color: #FFD1D1;
}

.lastmonth, .nextmonth {
  background-color: #DEDEDE;
}